@model IEnumerable<WebApplication1.Models.City>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main_Admin2.cshtml";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.City_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.City_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.City_id })
        </td>
    </tr>
}

</table>
