@model IEnumerable<WebApplication1.Models.Level>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main_Admin2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Level_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level_Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Level_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level_Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Level_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Level_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Level_id })
        </td>
    </tr>
}

</table>
